training_for_driving/Road/images/*.png
training_for_driving/Gravel/images/*.png
training_for_driving/OffRoad/images/*.png
training_for_driving/ramp/images/*.png
training_for_reading/images/letter_crops/*.png


