<launch>
   <!-- My Package launch file -->
   <node pkg="neural_net_driving"
         type="Control_node.py"
         name="Control_node" 
         output="screen">
   </node>
   
   <node pkg="neural_net_driving"
         type="section_detector.py"
         name="section_detector" 
         output="screen">
   </node>
   
   <node pkg="neural_net_driving"
         type="driving_code.py"
         name="driving_code" 
         output="screen">
   </node>

   <node pkg="neural_net_driving"
         type="Controller_code.py"
         name="Controller_code" 
         output="screen">
   </node>
</launch>